.locationImage {
    width: 200px;
    height: 200px;
    padding: 5px;
}
body {
    background-image: url("images/TravelingAgencyMainPicture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 150px;
}

label {
    color: #8d5204;
}

.content {
    margin: 80px 0px;
}

.content-without-header {
    margin: 120px 0px;
}

.inline-grid {
    display: inline-grid;
    padding: 10px;
}

.right {
    float: right;
}

.cancelButton {
    background-color: #cfa402 !important;
}

.deleteButton {
    background-color: #cf0c00 !important;
}

.saveButton {
    background-color: #1d9e04 !important;
}

.ui-diagram-element {
    width:10em;
    height:6em;
    line-height:5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(207, 101, 37, 0.8);
    border-radius: 1em;
    border: 1px solid #cf0c00;
    background-color: #cfa402;
    color: #ffffff;
}

.ui-diagram-element:hover {
    background-color: #cf0c00;
}